@import "../../common";



.fourth_page {
  font-family: "Poppins";
  background: #ffe6d2;

  display: flex;

  flex-direction: column;
  .content {
    flex-direction: column;

    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 96px;

    @media (max-width: 901px) {
      max-width: 900px;
      display: flex;
      flex-direction: column;
    }

    .up_part {
      max-width: 777px;
      .small_txt {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #000000;
        opacity: 0.87;
      }

      h2 {
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        color: #232536;
        padding-bottom: 40px;
        @media (max-width: 901px) {
          font-size: 28px;
          line-height: 38px;
        }
      }

      button {
        max-width: 219px;
        height: 64px;
        background: #444cfc;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        opacity: 0.87;
        display: flex;
        gap: 16px;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 80px;

        #shape4 {
          position: relative;
          left: 0px;
          top: -14px;
          display: flex;
        }
      }
    }

    .down_part {
      .container {
        display: flex;
        gap: 32px;
        padding-bottom: 96px;

        @media (max-width: 901px) {
          max-width: 900px;
          display: flex;
          flex-direction: column;
        }

        .first,
        .second,
        .third {
          max-width: 405px;
          background: #ffffff;
          padding-bottom: 44px;
          padding-top: 48px;
          padding-right: 31px;

          h6 {
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            color: #000000;
          }

          p {
            font-family: "Poppins";
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #5d5f6d;
          }

          a {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #444cfc;
            opacity: 0.87;
            text-decoration: none;
          }

          & > img,
          h6,
          p,
          a {
            padding-left: 48px;
            padding-bottom: 12px;
          }
        }
      }
    }
  }
}

.fifth_page {
  font-family: "Poppins";
  display: flex;

  .content {
    flex-direction: column;

    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    @media (max-width: 901px) {
      max-width: 900px;
      display: flex;
      flex-direction: column;
    }
  }
  .up_part {
    #logo_right {
      position: relative;
      left: 620px;
      bottom: 62px;
      @media (max-width: 901px) {
        display: none;
      }
    }

    max-width: 777px;
    .small_txt {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #000000;
      opacity: 0.87;
    }

    h2 {
      font-weight: 600;
      font-size: 48px;
      line-height: 58px;
      color: #232536;
      padding-bottom: 40px;
      @media (max-width: 901px) {
        font-size: 28px;
        line-height: 38px;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #232536;
      opacity: 0.87;
      padding-bottom: 68px;
    }
  }

  .down_part {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 96px;

    .down {
      display: flex;
      gap: 48px;

      @media (max-width: 901px) {
        max-width: 900px;
        display: flex;
        flex-direction: column;
      }

      .f_f {
        display: flex;

        gap: 16px;
        padding-left: 32px;
        padding-top: 32px;

        border: 1px solid rgba(35, 37, 54, 0.17);
        max-width: 395px;

        .numb {
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          color: #232536;
          opacity: 0.2;
          bottom: 12px;
          position: relative;
          padding-right: 16px;
        }

        .text1 {
          h6 {
            font-family: "Poppins";
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            color: #000000;
            padding-bottom: 8px;
          }

          p {
            font-family: "Poppins";
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #5d5f6d;
            padding-bottom: 28px;
          }

          img {
            position: relative;
            top: 15px;
            right: 92px;
          }
        }
      }
    }
  }
}

.sixth_page {
  background: #f9f9ff;
  font-family: "Poppins";

  .content {
    padding-top: 102px;

    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;

    @media (max-width: 901px) {
      max-width: 900px;
      display: flex;
      flex-direction: column;
      align-items: self-start;
    }

    .left {
      display: flex;
      flex-direction: column;

      .blue {
        width: 16px;
        height: 16px;
        background: #444cfc;
        transform: rotate(180deg);
        position: relative;
        top: 12px;
        margin-bottom: 16px;
      }

      h2 {
        font-weight: 600;
        font-size: 48px;
        line-height: 58px;
        color: #232536;
        margin-bottom: 16px;

        @media (max-width: 901px) {
          font-size: 28px;
          line-height: 38px;
        }
      }

      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #232536;
        margin-bottom: 16px;
      }

      .snd_p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #232536;
        opacity: 0.87;
        margin-bottom: 24px;
      }

      .photo_cont {
        display: flex;
        gap: 12px;
        margin-bottom: 14px;
      }

      .last_p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
      }
    }

    .right {
      display: flex;
      flex-direction: column;

      .quote {
        display: flex;
        justify-content: right;
        @media (max-width: 901px) {
          display: none;
        }
      }
      .circle {
        padding-top: 25px;
        padding-left: 50%;
      }
      .content {
        background: #ffffff;
        max-width: 607px;
        padding-left: 40px;
        padding-right: 69px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 48px;

        @media (max-width: 901px) {
          padding-left: 4px;
          padding-right: 9px;
          max-width: 407px;
        }

        .h4_class {
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          color: #232536;
          opacity: 0.87;
          @media (max-width: 901px) {
            font-size: 14px;
            line-height: 20px;
          }
        }

        .footer {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .row {
            gap: 16px;
            display: flex;

            h6 {
              font-weight: 600;
              font-size: 16px;
              line-height: 28px;
              color: #232536;

              opacity: 0.87;
            }
            p {
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #232536;
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}

.seventh_page {
  background: #ecf8f9;

  .content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    padding-bottom: 96px;
    padding-top: 96px;

    h2 {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 48px;
      line-height: 58px;
      color: #232536;
      margin-bottom: 48px;
    }

    .blue {
      max-width: 16px;
      height: 16px;
      right: 1424px;
      top: 5156px;

      margin-bottom: 19px;
      background: #666dff;
    }

    .lasts {
      display: flex;
      gap: 32px;

      @media (max-width: 901px) {
        display: flex;
        flex-direction: column;
        align-items: self-start;
      }

      .left {
        display: flex;

        @media (max-width: 901px) {
          display: flex;
          flex-direction: column;
          align-items: self-start;
        }

        .firsts_box {
          max-width: 328px;
          height: 248px;
          left: 160px;
          top: 5297px;

          background: #ffffff;

          .padding {
            padding: 32px;

            .small_p {
              font-family: "Poppins";
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #232536;
              opacity: 0.6;
              padding-bottom: 8px;
            }

            .h4_class {
              font-family: "Poppins";
              font-weight: 600;
              font-size: 24px;
              line-height: 36px;
              color: #232536;
              padding-bottom: 24px;
            }

            .link_tag {
              a {
                font-family: "Poppins";
                
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #444cfc;
                opacity: 0.87;
                text-decoration: none;
              }
            }
          }
        }
      }

      .right {
        display: flex;

        @media (max-width: 901px) {
          display: flex;
          flex-direction: column;
          align-items: self-start;
        }

        .firsts_box {
          max-width: 328px;
          height: 248px;
          left: 160px;
          top: 5297px;

          background: #ffffff;

          .padding {
            padding: 32px;

            .small_p {
              font-family: "Poppins";
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #232536;
              opacity: 0.6;
              padding-bottom: 8px;
            }

            .h4_class {
              font-family: "Poppins";
              font-weight: 600;
              font-size: 24px;
              line-height: 36px;
              color: #232536;
              padding-bottom: 24px;
            }

            .link_tag {
              a {
                font-family: "Poppins";
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #444cfc;
                opacity: 0.87;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}


