@import "../../../../common";

.third_page {
    background: #ecf8f9;
  
    .content5 {
      width: 1280px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      padding-top: 96px;
  
      @media (max-width: 901px) {
        display: flex;
        max-width: 900px;
        flex-direction: column;
      }
  
      .left {
        justify-content: center;
  
        width: 622px;
        font-family: "Poppins";
        display: flex;
        flex-direction: column;
        gap: 20px;
        .expertise {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: #000000;
          opacity: 0.87;
        }
  
        h2 {
          font-weight: 600;
          font-size: 48px;
          line-height: 58px;
          color: #232536;
  
          br {
            @media (max-width: 901px) {
              display: none;
            }
          }
  
          @media (max-width: 901px) {
            font-size: 28px;
            line-height: 28px;
            max-width: 360px;
          }
        }
  
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #5d5f6d;
  
          @media (max-width: 901px) {
            font-size: 10px;
            line-height: 12px;
            max-width: 360px;
          }
        }
      }
  
      .right {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-bottom: 96px;
        .blue {
          width: 16px;
          height: 16px;
          background: #444cfc;
          transform: rotate(180deg);
          position: relative;
          top: 12px;
        }

      }
    }
  }