@import "../../../../common";

.sixth_page {
    background: #f9f9ff;
    font-family: "Poppins";

    .contents {
        padding-top: 102px;

        width: 1280px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 80px;

        @media (max-width: 901px) {
            max-width: 900px;
            display: flex;
            flex-direction: column;
            align-items: self-start;
        }

        .left {
            display: flex;
            flex-direction: column;

            .blue {
                width: 16px;
                height: 16px;
                background: #444cfc;
                transform: rotate(180deg);
                position: relative;
                top: 12px;
                margin-bottom: 16px;
            }

            h2 {
                font-weight: 600;
                font-size: 48px;
                line-height: 58px;
                color: #232536;
                margin-bottom: 16px;

                @media (max-width: 901px) {
                    font-size: 28px;
                    line-height: 38px;
                }
            }

            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: #232536;
                margin-bottom: 16px;
            }

            .snd_p {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #232536;
                opacity: 0.87;
                margin-bottom: 24px;
            }

            .photo_cont {
                display: flex;
                gap: 12px;
                margin-bottom: 14px;
            }

            .last_p {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
            }
        }


    }
}
