@import "../../../../common";

.sixth_page {
    background: #f9f9ff;
    font-family: "Poppins";

    .content {
        padding-top: 102px;

        width: 1280px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 80px;

        @media (max-width: 901px) {
            max-width: 900px;
            display: flex;
            flex-direction: column;
            align-items: self-start;
        }

        .left {
            display: flex;
            flex-direction: column;

            .blue {
                width: 16px;
                height: 16px;
                background: #444cfc;
                transform: rotate(180deg);
                position: relative;
                top: 12px;
                margin-bottom: 16px;
            }

            h2 {
                font-weight: 600;
                font-size: 48px;
                line-height: 58px;
                color: #232536;
                margin-bottom: 16px;

                @media (max-width: 901px) {
                    font-size: 28px;
                    line-height: 38px;
                }
            }

            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                color: #232536;
                margin-bottom: 16px;
            }

            .snd_p {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #232536;
                opacity: 0.87;
                margin-bottom: 24px;
            }

            .photo_cont {
                display: flex;
                gap: 12px;
                margin-bottom: 14px;
            }

            .last_p {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
            }
        }

        .right {
            display: flex;
            flex-direction: column;

            .quote {
                display: flex;
                justify-content: right;
                @media (max-width: 901px) {
                    display: none;
                }
            }
            .circle {
                padding-top: 25px;
                padding-left: 50%;
            }
            .content {
                background: #ffffff;
                max-width: 607px;
                padding-left: 40px;
                padding-right: 69px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                padding-top: 48px;

                @media (max-width: 901px) {
                    padding-left: 4px;
                    padding-right: 9px;
                    max-width: 407px;
                }

                .h4_class {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 36px;
                    color: #232536;
                    opacity: 0.87;
                    @media (max-width: 901px) {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }

                .footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .row {
                        gap: 16px;
                        display: flex;

                        h6 {
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 28px;
                            color: #232536;

                            opacity: 0.87;
                        }
                        p {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            color: #232536;
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
}
