@import "../../../../common";


.first_page1 {
    background: #232536;
  
  
  
    .first_body {
      padding-top: 96px;
  
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
      display: flex;
  
      @media (max-width: 901px) {
        padding-top: 16px;
  
        display: flex;
        flex-direction: column;
      }
  
      @media (max-width: 901px) {
        img {
          width: 75%;
        }
      }
  
      .three_comp_div {
        padding-top: 56px;
  
        max-width: 624px;
        display: flex;
        flex-direction: column;
        gap: 24px;
  
        h1 {
          font-family: "Poppins";
          font-weight: 600;
          font-size: 56px;
          line-height: 68px;
          color: #ffffff;
        }
  
        p {
          font-family: "Poppins";
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
          opacity: 0.6;
        }
  
        button {
          max-width: 219px;
          height: 64px;
          background: #444cfc;
          font-family: "Poppins";
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
          opacity: 0.87;
          display: flex;
          gap: 16px;
          justify-content: flex-start;
          align-items: center;
          @media (max-width: 901px) {
            max-width: 30%;
          }
  
          #shape2 {
            position: relative;
            left: 548px;
            top: 145px;
            display: flex;
            @media (max-width: 901px) {
              display: none;
            }
          }
        }
  
        #shape {
          position: relative;
          bottom: 17px;
  
          @media (max-width: 901px) {
            display: none;
          }
        }
  
        .square {
          background-color: rgba(255, 255, 255, 0.06);
          transform: rotate(-90deg);
          max-width: 24px;
          height: 24px;
        }
      }
    }
  
    footer {
      margin-top: 32px;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
  
      @media (max-width: 901px) {
        display: none;
      }
  
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
  
      .small {
        font-family: "Poppins";
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        opacity: 0.6;
      }
  
      .large {
        font-family: "Poppins";
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
      }
    }
  }
  